---
import { Avatar } from '../../core/domain/Avatar'
import { avatarSets } from '../../core/domain/AvatarSet'
import { avatarIdsMap } from '../../core/domain/AvatarId'
import { avatarSizes } from '../../core/domain/AvatarSize'
import { avatarFormats } from '../../core/domain/AvatarFormat'
import Code from '../../components/Code.astro'
import Layout from '../../layouts/Layout.astro'
import Icon from '../../components/Icon.astro'

const searchParams = Astro.url.searchParams
const hasSearchParams = searchParams.size > 0
const defaultParams = Avatar.default()

const params: Record<string, string> =
	hasSearchParams ?
		{
			set: searchParams.get('set')!,
			id: searchParams.get('id')!,
			size: searchParams.get('size')!,
			format: searchParams.get('format')!,
			text: searchParams.get('text')!,
			color: searchParams.get('color')!,
		}
	:	{
			set: defaultParams.set.value.toString(),
			id: defaultParams.id.value.toString(),
			size: defaultParams.size.value.toString(),
			format: defaultParams.format.value.toString(),
			text: defaultParams.text.value.toString(),
			color: defaultParams.color.value.toString(),
		}

const path = `/api/avatar?${new URLSearchParams(params).toString()}`
const code = `https://exavatar.deno.dev${path}`
---

<Layout
	title='Avatar Playground - Test & Customize Your Avatars | Exavatar'
	description='Interactive playground to test and customize avatar generation. Experiment with different styles, colors, sizes, and formats in real-time.'>
	<header
		class='grid-box col-[1/13] row-[3/5] grid grid-flow-row auto-rows-min content-center md:col-[3/11] md:row-[2/4]'>
		<h1 class='content-end text-center text-3xl font-semibold'>Avatar Playground</h1>
		<p class='text-md content-center text-center text-balance'>
			Experiment with our avatar API in real-time. Customize styles, colors, and formats to create
			the perfect avatar for your application.
		</p>
	</header>

	<main class='contents'>
		<section
			class='grid-box grid-cross-br relative col-[3/11] row-[6/12] md:col-[4/6] md:row-[6/12]'>
			{
				params.size && (
					<span class='badge-secondary absolute top-2 right-2 z-20'>
						{params.size}x{params.size}
					</span>
				)
			}

			<img
				id='preview'
				class='absolute inset-0 z-10 mx-auto block aspect-square h-full object-cover p-1'
				src={path}
				alt='Avatar Preview'
				loading='lazy'
			/>
		</section>

		<form
			method='GET'
			action=''
			class='contents'>
			<div class='grid-box col-[2/12] row-[13/14] grid px-2 md:col-[7/10] md:row-[5/6]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Set</span>

					<select
						name='set'
						id='avatar-set'
						class='select col-[4/11] w-full md:col-[2/4]'
						onchange='this.form.submit()'>
						<option value=''></option>
						{
							avatarSets.map((set) => (
								<option
									value={set}
									selected={params.set === set}>
									{set}
								</option>
							))
						}
					</select>
				</label>
			</div>

			<div class='grid-box col-[2/12] row-[14/15] grid px-2 md:col-[7/10] md:row-[6/7]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Id</span>

					<select
						name='id'
						id='avatar-id'
						class='select col-[4/11] w-full md:col-[2/4]'
						onchange='this.form.submit()'>
						<option value=''></option>
						{
							avatarIdsMap[params.set].map((id) => (
								<option
									value={id}
									selected={params.id === id}>
									{id}
								</option>
							))
						}
					</select>
				</label>
			</div>

			<div class='grid-box col-[2/12] row-[15/16] grid px-2 md:col-[7/10] md:row-[7/8]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Size</span>

					<select
						name='size'
						id='avatar-size'
						class='select col-[4/11] w-full md:col-[2/4]'
						onchange='this.form.submit()'>
						<option value=''></option>
						{
							avatarSizes.map((size) => (
								<option
									value={size}
									selected={+params.size === +size}>
									{size}
								</option>
							))
						}
					</select>
				</label>
			</div>

			<div class='grid-box col-[2/12] row-[16/17] grid px-2 md:col-[7/10] md:row-[8/9]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Format</span>

					<select
						name='format'
						id='avatar-format'
						class='select col-[4/11] w-full md:col-[2/4]'
						onchange='this.form.submit()'>
						<option value=''></option>
						{
							avatarFormats.map((format) => (
								<option
									value={format}
									selected={params.format === format}>
									{format}
								</option>
							))
						}
					</select>
				</label>
			</div>

			<div class='grid-box col-[2/12] row-[17/18] grid px-2 md:col-[7/10] md:row-[9/10]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Text</span>

					<input
						name='text'
						id='avatar-text'
						type='text'
						maxlength='2'
						class='input col-[4/11] w-full md:col-[2/4]'
						value={params.text}
						onchange='this.form.submit()'
					/>
				</label>
			</div>

			<div
				class='grid-box grid-cross-bl col-[2/12] row-[18/19] grid px-2 md:col-[7/10] md:row-[10/11]'>
				<label class='label grid grid-cols-10 md:grid-cols-3'>
					<span class='col-[1/4] md:col-[1/2]'><span class='font-light'>Avatar.</span>Color</span>

					<input
						name='color'
						id='avatar-color'
						type='color'
						class='input col-[4/11] w-full md:col-[2/4]'
						value={params.color}
						onchange='this.form.submit()'
					/>
				</label>
			</div>

			<div
				class='grid-box col-[2/12] row-[20/21] grid grid-cols-2 items-center gap-2 px-2 md:col-[7/10] md:row-[12/13]'>
				<button
					type='button'
					class='btn btn-secondary'
					onclick='
						document.querySelectorAll("input, select").forEach(el => {
							if (el.type === "radio" || el.type === "checkbox") {
								el.checked = false;
							} else {
								el.value = "";
							}
						});
						this.form.submit();
					'>
					Reset
				</button>

				<button
					type='button'
					class='btn btn-primary'
					onclick='window.location.replace("/")'>
					<Icon name='dice' />
					Random
				</button>
			</div>
		</form>

		<Code
			class='grid-box col-[1/13] row-[22/24] content-center overflow-hidden p-3 text-center md:col-[3/11] md:row-[14/16]'
			code={code}
		/>
	</main>
</Layout>
